@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Inter', sans-serif;
    overflow: auto;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url(images/Background.jpeg) no-repeat center center/cover;
    filter: blur(5px);
    z-index: -1;
    background-size: cover;
}

section {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home .Home-logo {
    display: flex;
    position: relative;
    cursor: pointer;
    align-items: center;
    margin-left: 10px;
}

.home-h2 {
    font-weight: 600;
    font-size: 1.4rem;
}

.color2 {
    color: #044395;
    margin-right: -4px;
}

.home .Home-logo img {
    flex: 1;
    width: 2rem;
    height: 2rem;
    object-fit: contain;
    margin-right: -11px;
    margin-top: 2px;
}

p {
    font-weight: 100;
    font-size: 12px;
    margin-left: 5px;
}

a {
    color: #044395;
    text-decoration: none;
}

.count {
    display: flex;
    align-items: center;
    justify-items: center;
    border: 1px solid #044395;
    color: #fff;
    background-color: #044395;
    padding: 5px 8px 5px 8px;
}

.second {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
}

.topic {
    font-size: 25px;
    text-align: center;
}

.tops {
    margin-top: 1rem;
}

.inputs {
    margin-top: 1rem;
}

input {
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 40%;
    background-color: #EBF0F7;
}

input:focus {
    outline: 2px solid #044395;
}

.custom-btn {
    width: 130px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

.btn {
    border: none;
    background: #044395;
    background: linear-gradient(0deg, #044395 0%, #0085ff 100%);
    color: #fff;
    overflow: hidden;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.btn:hover {
    text-decoration: none;
    color: #fff;
}

.btn:focus {
    outline: 2px solid #fff;
    outline-offset: 3px;
}

.btn:before {
    animation: shiny-btn1 3s ease-in-out infinite;
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
}

.btn:hover{
    opacity: .7;
}

.btn:active{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

.third {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
}

.cards {
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    background-color: #EBF0F7;
    color: #000;
    border-radius: 5px;
    padding: 25px;
    font-size: 22px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card {
    display: flex;
}

.card h6 {
    margin-bottom: 10px;
}

.card p {
    margin: auto;
}

.card .innerCard {
    margin: 5px;
}

.cards:hover {
    transform: translateY(-10px);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.material-symbols-sharp {
    font-size: 1.5rem;
    display: block;
    margin: 0 auto;
    padding: 10px;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}  

footer {
    display: flex;
    justify-content: space-around;
    position: absolute;
    /* bottom: 0; */
    background-color: #044395;
    color: #fff;
    width: 100%;
    padding: 15px;
    /* margin-top: 2rem; */
}

.links {
    color: #fff;
    margin: 10px;
}

span {
    margin-left: 5px;
}

@-webkit-keyframes shiny-btn1 {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}

@media screen and (max-width: 768px) {
    body {
        overflow: overlay;
    }
    .home .Home-logo {
        margin-left: 0px;
    }

    .second {
        margin-top: 0rem;
    }

    .topic {
        font-size: 20px;
    }

    .third {
        display: flex;
        margin-top: 1rem;
        justify-content: center;
        flex-direction: column;
    }

    .cards {
        display: flex;
        width: 100%;
        justify-content: space-around;
        background-color: #EBF0F7;
        color: #000;
        border-radius: 5px;
        padding: 25px;
        font-size: 22px;
        flex-direction: column;
        align-items: stretch;
    }

    .card {
        display: flex;
        margin: 10px 0; 
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: center;
    }

    input {
        margin-bottom: 10px;
        width: 90%;
    }

    button {
        width: fit-content;
    }

    footer {
        display: flex;
        justify-content: space-between;
        position: relative;
        bottom: 0;
        flex-direction: column-reverse;
    }

    .foot {
        flex: 1;
        margin-top: 13px;
        font-size: 0.7rem;
        margin-left: 9px;
    }

    .socails {
        flex: 1;
        font-size: 11px;
    }

    
}
